*.vs
*.log
Packages/
x64/
data/scene/scenes/*
!data/scene/scenes/basic
!data/scene/scenes/testCubes
!data/scene/scenes/voxelOutside
!data/scene/scenes/voxelOutsideBig
!data/scene/scenes/cubesTower
!data/scene/scenes/giRoom
!data/scene/scenes/playground
!data/scene/scenes/cave
!data/scene/scenes/columnsOutside
data/scene/export/*