*.vs
*.log
Packages/
Debug/
x64/
data/scene/scenes/*
!data/scene/scenes/basic
!data/scene/scenes/testCubes
!data/scene/scenes/voxelOutside
!data/scene/scenes/voxelOutsideBig
!data/scene/scenes/cubesTower
!data/scene/scenes/voxelRoom
!data/scene/scenes/tmp
