[submodule "dependencies/DirectXTK12"]
	path = dependencies/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "dependencies/DirectX-Headers"]
	path = dependencies/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/pugixml"]
	path = dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "dependencies/DLSS"]
	path = dependencies/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "dependencies/FidelityFX-SDK"]
	path = dependencies/FidelityFX-SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK.git
[submodule "dependencies/JoltPhysics"]
	path = dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
